@model Pop.Domain.Entities.TvSerieSeason

@{
    ViewBag.Title = "Pop-culture &amp; Divertissement";
    ViewBag.ActiveMenu = "#tv-series-menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="fa fa-desktop fa-lg" style="margin-right: 0.8em;"></span>S&eacute;ries t&eacute;l&eacute; <small> - Cr&eacute;ation d'une nouvelle saison de <strong>@Model.TvSerie.Title</strong></small></h2>
<hr />
@Html.Partial("_SeasonEditForm")

@section scripts {
<script>
    $(document).ready(function () {
        $('#posterFile').change(function () {
            $('#PosterFileName').val(extractFileName($('#posterFile').val()));
            return true;
        });
    });
</script>
}