@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erreur INCONNU</h2>
<h3>Je suis d&eacute;sol&eacute; mais il semblerait que la page demand&eacute;e n'existe pas...</h3>
