@model Pop.Domain.Entities.GameAchievement

@{
    ViewBag.Title = "Pop-culture &amp; Divertissement";
    ViewBag.ActiveMenu = "#games-menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="fa fa-gamepad fa-lg" style="margin-right: 0.8em;"></span>Jeux <small> - Cr&eacute;ation d'un nouveau succ&egrave;s pour <strong>@Model.Game.Title</strong></small></h2>
<hr />
@Html.Partial("_AchievementEditForm")

@section scripts {
<script>
    $(document).ready(function () {
        $('#imageFile').change(function () {
            $('#ImageFileName').val(extractFileName($('#imageFile').val()));
            return true;
        });
    });
</script>
}